*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    display: grid;
    height: 90%;
    width: 80%;
    margin: 1px solid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 34% 19% 19% 28%;

    grid-template-areas: 
    "A1 A2 A3 A4"
    "A1 A5 A5 A4"
    "A6 A5 A5 A7"
    "A8 A8 A9 A7"
    ;
    grid-gap: 8px;

}
#yo{
    background-image: url(./OIP.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-area: A1;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
}
.feat{
    height: 15%;
    width: 25%;
    background: rgba(18, 18, 18, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.inn{
    height: 24px;
    border-radius:50%;
    width: 24px;
    background-color: yellow;
}
.feat p{
    font-size: 9px;
}
#use{
    background-color: rgb(255, 247, 0);
    grid-area: A2;
    border-radius: 10px;
}
#head{
    background-color: rgb(255, 255, 255);
    grid-area: A3;
    padding: 25px;
    border-radius: 10px;
}
#head p{
    font-size: 11px;
}
#head h1{
    font-size: 30px;
    margin-top:5px;
    margin-bottom: 25px;

}
#head h3{
    font-size: 25px;
    margin-top: 5px;
    font-weight: 100;
    margin-bottom: 30px;
}
#pipe {
    height: 10px;
    width: 90%;
    
    border-radius: 5px;
    display: flex;
    overflow: hidden;
}
#pipe div{
    width: 35%;
    height: 100%;
    /* border-radius:5px 5px 5px 5px; */
}
#time{
    background-color:white;
    grid-area: A4;
    border-radius: 10px;
    padding: 20px;
}
#log{
    display: flex;
    gap: 3px;
    margin-right: 8px;
}
#log div{
    height:20px;
    width: 13px;

}
#time h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 42px;
}
#fit {
    display: flex;
}
#fit h4{
    font-size: 15px;
}
#web{
    display: flex;
    gap: 8px;
    margin-bottom: 25px;
}
#add{
    background-color: rgb(253, 164, 179);
    padding: 10px;
    border-radius: 10px;
}

#web div{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: black;
}
#quote{
    background-color: rgb(255, 255, 255);
    grid-area: A6;
    border-radius: 10px;
    padding: 20px;
}
#quote h2{
    font-size: 13px;
    font-weight: 900;
}
#quote h4{
    font-size: 13px;
}
#tag {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
}
#f{
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius:20px;
}
#flexfit{
    background-color: rgb(241, 239, 220);
    grid-area: A5;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#flexfit img {
    height: 50%;
    width: auto;
}
#flexfit h1{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
}

#train{
    background-color: rgb(253, 164, 179);
    grid-area: A8;
    border-radius: 10px;
}
#girl{
    background-image: url(./flogo.png);
    grid-area: A9;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
#girl img {
    height: 200px;
    position: absolute;
    top: 70%;
    left: 57%;

}
#sign{
    background-color: rgb(253, 164, 179);
    grid-area:A7;
    border-radius: 10px;
}
